.Chart {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.Option {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-left: 10px;
}

.Checkbox {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-size: 1.3rem;
}

.Checkbox input {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 10px;
}
